body {
        font-family: 'Poppins', sans-serif;
        background:linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
        margin: 0;
        padding: 40px 20px;
        color: #333;
    }

    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 35px;
        font-weight: 700;
        color: #f1f1f1;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 25px;
        padding: 10px;
    }

    .card {
        perspective: 1200px;
        cursor: pointer;
    }

    .inner-card {
        width: 100%;
        height: 240px;
        border-radius: 16px;
        transition: transform 0.7s ease;
        transform-style: preserve-3d;
	
        position: relative;
    }

    .card.flipped .inner-card {
        transform: rotateY(180deg);
    }

    .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 16px;
        padding: 25px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #fff;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }
	.front{
	background:#FAD1D1;
	color:#1a1a2e;
}
    .front .icon {
        font-size: 42px;
        margin-bottom: 15px;
        opacity: 0.95;
	color:#1a1a2e;
    }

    .front .card-title {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .front .card-text {
        opacity: 0.9;
        font-size: 0.95rem;
    }

    .back {
        background: #2c3e50;
        transform: rotateY(180deg);
        font-size: 1.3rem;
        line-height: 1.5;
	text-align:center;
    }

    .g1 { background: #9f8974;}
    .g2 { background: #f7f4ef; }
    .g3 { background: #848c67; }
    .g4 { background: #e1dbca;}
    .g5 { background: #a8919d;}
    .g6 { background: #897d4d;}
  